h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

.categoria{
    color: gold;
    font-size: 30px;
}
